<?xml version="1.0" encoding="UTF-8"?>
<beas>

    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="org.sqlite.JDBC"/>
        <property name="jdbcUrl" value="jdbc:sqlite:comper.db"/>
    </bean>

    <bean id="jdbcAux" class="com.caibowen.comper.db.jdbc.JdbcAux">
        <property name="dataSource" ref="datasource"/>
    </bean>

    <bean id="daoQuestion" class="com.caibowen.comper.dao.DAOQuestion">
        <property name="jdbcAux" ref="jdbcAux"/>
    </bean>

    <bean id="daoPaper" class="com.caibowen.comper.dao.DAOPaper">
        <property name="jdbcAux" ref="jdbcAux"/>
    </bean>
    <bean id="daoChapter" class="com.caibowen.comper.dao.DAOChapter">
        <property name="jdbcAux" ref="jdbcAux"/>
    </bean>

    <bean id="questionService" class="com.caibowen.comper.dao.QuestionService">
        <property name="daoQuestion" ref="daoQuestion"/>
    </bean>

    <bean id="trainingField" class="com.caibowen.comper.feature.TrainingField">
        <property name="evaluator" instance="com.caibowen.comper.feature.impl.Evaluator"/>
        <property name="randomGenerator" instance="com.caibowen.comper.feature.impl.RandomGenerator"/>
        <property name="trainer">
            <bean class="com.caibowen.comper.feature.impl.Trainer">
                <property name="questionSerive" ref="questionService"/>
            </bean>
        </property>
    </bean>

    <bean id="htmlGenerator" class="com.caibowen.comper.feature.builder.HtmlGenerator">
    </bean>

</beas>


