<?xml version="1.0" encoding="UTF-8"?>
<beas>

<!-- 	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource"> -->
<!-- 		<property name="driverClass" value="com.mysql.jdbc.Driver"/> -->
<!-- 		<property name="jdbcUrl" value="jdbc:mysql://localhost:3456/wk_comper"/> -->
<!-- 		<property name="user" value="bitranger"/> -->
<!-- 		<property name="password" value="123456"/> -->
<!-- 		<property name="minPoolSize" value="1"/> -->
<!-- 		<property name="acquireIncrement" value="2"/> -->
<!-- 		<property name="maxPoolSize" value="8"/> -->
<!-- 		<property name="maxIdleTime" value="30"/> -->
<!-- 	</bean> -->
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:sqlite:comper.db"/>
	</bean>
	
	<bean id="jdbcAux" class="org.wangk.comper.db.jdbc.JdbcAux">
		<property name="dataSource" ref="datasource"/>
	</bean>
	
	<bean id="daoQuestion" class="org.wangk.comper.dao.DAOQuestion">
		<property name="jdbcAux" ref="jdbcAux"/>
	</bean>
	<bean id="daoPaper" class="org.wangk.comper.dao.DAOPaper">
		<property name="jdbcAux" ref="jdbcAux"/>
	</bean>
		<bean id="daoChapter" class="org.wangk.comper.dao.DAOChapter">
		<property name="jdbcAux" ref="jdbcAux"/>
	</bean>
	
	<bean id="questionService" class="org.wangk.comper.dao.QuestionService">
		<property name="daoQuestion" ref="daoQuestion"/>
	</bean>
	
</beas>